name: goreleaser

on:
  push:
    # 只有打上 v* 标签（例如 v1.0.0）时触发
    tags:
      - 'v*'

permissions:
  contents: write # 必须赋予写权限，否则无法上传附件到 Release

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 必须拉取全部历史，否则 GoReleaser 无法生成 Changelog

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23 # 或者指定版本，例如 '1.21'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          # 'latest', 'nightly', or a specific version
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          # GITHUB_TOKEN 是 GitHub 自动生成的，无需你自己设置 Secrets
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
