name: Release

on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, linux/arm64, windows/386, windows/amd64, darwin/amd64, darwin/arm64
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        BINARY_NAME=2fa
        if [ "${{ matrix.goos }}" = "windows" ]; then
          BINARY_NAME=2fa.exe
        fi
        go build -v -o "$BINARY_NAME" -ldflags "-s -w" .

    - name: Package
      shell: bash
      run: |
        BINARY_NAME=2fa
        if [ "${{ matrix.goos }}" = "windows" ]; then
          BINARY_NAME=2fa.exe
        fi
        
        ASSET_NAME=2fa-${{ matrix.goos }}-${{ matrix.goarch }}
        if [ "${{ matrix.goos }}" = "windows" ]; then
          ASSET_NAME="$ASSET_NAME.zip"
          zip "$ASSET_NAME" "$BINARY_NAME"
        else
          ASSET_NAME="$ASSET_NAME.tar.gz"
          tar czvf "$ASSET_NAME" "$BINARY_NAME"
        fi
        echo "ASSET_NAME=$ASSET_NAME" >> $GITHUB_ENV

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ${{ env.ASSET_NAME }}
